[flake8] # https://flake8.pycqa.org/en/6.0.0/user/options.html#cmdoption-flake8-select
filename =
    */tinygrad/*.py,
    */test/*.py
select=F,W6,E71,E72,E112,E113,E124,E203,E272,E303,E304,E502,E702,E703,E731,W191
indent-size=2
per-file-ignores =
    test/*: F401, F403, F405, F541, E722, E731, F811, F821, F841
