__pycache__
.venv/
.vscode
notebooks
.*.swp
.*.swo
*.pyc
*.so
build
dist
*.egg-info
/env
a.out
boxes.jpg
weights/*
pandecode.dump
vertex.bin
recognize*
.idea
disassemblers/applegpu
disassemblers/cuda_ioctl_sniffer
*.prof
datasets/cifar-10-python.tar.gz
datasets/librispeech/
datasets/imagenet/
datasets/kits19/
datasets/squad/
datasets/img_align_celeba*
datasets/open-images-v6-mlperf
datasets/kits/
datasets/audio*
venv
