__pycache__
.venv/
.vscode
notebooks
.*.swp
.*.swo
*.pyc
*.so
build
dist
*.egg-info
/env
a.out
boxes.jpg
weights/*
pandecode.dump
vertex.bin
recognize*
.idea
disassemblers/applegpu
disassemblers/cuda_ioctl_sniffer
*.prof
datasets/cifar-10-python.tar.gz
