__pycache__
notebooks
.*.swp
.*.swo
*.pyc
*.so
build
dist
*.egg-info
/env
a.out
examples/*.jpg
examples/*.png
examples/
weights/*
pandecode.dump
vertex.bin
recognize*
.idea
disassemblers/applegpu
openpilot/output.thneed
