numpy
# util deps
requests
# testing deps
torch==1.6.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
pytest
tqdm