Jinja2
MarkupSafe
Pillow
certifi
charset-normalizer
cmake
colorama
filelock
idna
lit
mpmath
networkx
numpy
packaging
pytorch-triton-rocm
requests
sympy
torch
torch-cuda80
torch-model-archiver
torch-tb-profiler
torchaudio
torchcsprng
torchdata
torchdistx
torchrec
torchrec-cpu
torchserve
torchtext
torchvision
tqdm
triton
typing-extensions
urllib3
